.sidebar {
    min-width: 30vh;
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebarLogo {
    /* width: auto; */
    font-size: 34px;
    margin-bottom: 2em;
    padding: 50
}
.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.logout {
    margin-top: auto;
    margin-bottom: 5vh;
}