.post {
    background-color: #f9f9f9;
    color: #333;
    margin: 30px auto;
    border-radius: 10px;
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.postHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
}

.headerButton {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.dateTime {
    margin-left: auto;
    font-size: 0.875rem;
    color: rgb(21, 20, 20);
    font-style: italic;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #3f0c0c;
    border-radius: 5px;
}

.buttonComentar {
    margin-top: 5px;
    padding: 10px;
    background-color: #040d44;
    color: white;
}

button:hover {
    background-color: #3077c3;
}

.likesComments {
    display: flex;                 
    align-items: center;            
    gap: 10px;  
}                   

.likes, .like {
    display: flex;                  
    align-items: center;            
    gap: 5px;                
    cursor: pointer;               
}

.likeIcon {
    font-size: 24px;         
}





