.postImage {
    width: 100%;
    height: auto;
    display: block;
}

.post {
    background-color: #f9f9f9;
    color: #262525;
    border: 1px solid #dbdbdb;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.postHeader {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    justify-content: space-between;
}


.headerButton {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.profilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.username {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.dateTime {
    margin-left: auto;
    font-size: 0.875rem;
    color: rgb(21, 20, 20);
    font-style: italic;
}


input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #3f0c0c;
    border-radius: 5px;
}

.buttonComentar {
    margin-top: 5px;
    padding: 10px;
    background-color: #040d44;
    color: white;
}

button:hover {
    background-color: #1d63cc;
}

.likesComments {
    display: flex;                 
    align-items: center;            
    gap: 10px;  
}                   

.likes, .like {
    display: flex;                  
    align-items: center;            
    gap: 5px;                
    cursor: pointer;               
}

.likeIcon {
    font-size: 24px;         
}



.userInfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}



.username {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.postDate {
    font-size: 12px;
    color: #8e8e8e;
    margin: 0;
}

.optionsButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #8e8e8e;
}



.postFooter {
    padding: 10px 15px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.likeIcon {
    font-size: 24px;
    cursor: pointer;
    color: #8e8e8e;
}

.likeIcon.liked {
    color: #ed4956;
}

.likes {
    font-size: 14px;
    font-weight: bold;
}
.caption {
    font-size: 14px;
    margin: 5px 0;
    padding: 10px 5px; /* muevo la desc de la foto iz/der y arb/abj */
    text-align: left;
    word-break: break-word;
    color: #262626;
}

.viewAllComments {
    font-size: 12px;
    color: #8e8e8e;
    cursor: pointer;
    margin-top: 5px;
}

.addComment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.addComment input {
    flex: 1;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.addComment button {
    background-color: transparent;
    border: none;
    color: #0070bb;
    font-weight: bold;
    cursor: pointer;
}

