.post {
    background-color: white;
    color: black;
    margin: 30px;
    border-radius: 10px;
    max-width: 300px;
}

.postHeader {
    display: flex;
    justify-content: left;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin: 20px;
}